html {
	scroll-behavior: smooth;
}

 body {
	font-family: 'Poppins', sans-serif;
 }

 /* Navbar */
.navbar-custom {
	background-color: white;
}

.navbar-brand, .navbar-text {
	color: black;
}

.navbar.scrolled {
	background: #2fd07d;
	transition: background 200ms;
}

.navbar-brand:hover {
	color: #2fd07d;
}

.nav-link:hover {
	color: #2fd07d;
}

/* Header */
#header {
	height: 100vh;
	background-color: #2fd07d;
}

.display-1 {
	text-align: center;
	padding-top: 3.5em;
	font-style: italic;
	font-weight: 400;
	color: white;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				0px 8px 13px rgba(0, 0, 0, 0.1),
				0px 18px 23px rgba(0, 0, 0, 0.1);
}

h3 {
	text-align: center;
	color: white;
	font-weight: 100;
	font-style: italic;
}

/* About */

.sub-heading {
	font-size: 5rem;
	font-weight: 200;
	font-style: normal;
	text-align: center;
	padding-top: 1.0em;
	padding-bottom: 0.75em;
}

.content {
	text-align: center;
	padding: 0 7.0em 5.0em 7.0em;
}

/* Try it out! */
#trial {
	background: #d3d3d3;
}

img {
	width: 35%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 4.0em;
}

.buttons {
	padding-top: 1.0em;
}

.score {
	text-align: center;
	padding-top:	0em;
	padding-bottom:	3.0em;
}

/* Footer */
#footer {
	background: #2fd07d;
	width: auto;
	height: 75px;
}

.copyright p {
	text-align: center;
	padding-top: 1.5%;
}