html {
	scroll-behavior: smooth;
}

 body {
	font-family: 'Poppins', sans-serif;
 }

 /* Navbar */
.navbar-custom {
	background-color: white;
}

.navbar-brand, .navbar-text {
	color: black;
}

.navbar.scrolled {
	background: green;
	transition: background 200ms;
}

.navbar-brand:hover {
	color: green;
}

.nav-link:hover {
	color: green;
}

/* Header */
#header {
	height: 100vh;
	background-color: green;
}

.display-1 {
	text-align: center;
	padding-top: 3em;
	font-style: italic;
	font-weight: 200;
	color: white;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				0px 8px 13px rgba(0, 0, 0, 0.1),
				0px 18px 23px rgba(0, 0, 0, 0.1);
}